{% extends '::backend.html.twig' %}

{% block id 'ciudad' %}
{% block title %}Añadir una nueva ciudad{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>
<form action="{{ path('backend_ciudad_crear') }}" method="post">
{{ form_widget(formulario) }}
    <input type="submit" value="Añadir ciudad" />
</form>
<a href="{{ path('backend_ciudad') }}">Volver al listado</a>
{% endblock %}